i{
    margin-top: 26px;
    
}
.form-group{
    margin-right: -44px;
    margin-left: 15px;
}
.checkbox{
    margin-left: 35px;
}
.butn > button{
    margin-left: 72px;
}
.container{
    margin-top: 105px;
}
